<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>URL:</strong>
  <%= @book.url %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Delete', book_path, method: :delete, data: {confirm: 'Are you sure you want to delete?'} %> |
<%= link_to 'Back', books_path %>
