<!DOCTYPE html>
<html>
  <head>
    <title>FreeProgrammingBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <% if @current_user %>
        Hello, <%= @current_user.username %>

        <%= link_to 'Sign Out', logout_path, method: :delete %>
      <% end %>
    </header>

    <% if notice %>
      <p><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
